<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
      <h4>
          <a href="https://www.hackthebox.com/home/user/profile/1119546">
            <script src="https://www.hackthebox.com/badge/1119546"></script>
          </a>
          <a href="https://tryhackme.com/p/Trapnatized">
            <script src="https://tryhackme.com/badge/784860"></script>
          </a>
      </h4>

      
        
      
    {{ content }}

  </body>
</html>
